---
const { header, btnName, isLogin, action } = Astro.props;
---

<aside class="user-details">
  <div class="details-container">
    <h1 class="tight-spacing">
      <a href="/">
        Recipe.<span class="trademark">&#8482;</span>
      </a>
    </h1>
    <h3>{header}</h3>
    <form action={action}>
      {
        !isLogin && (
          <div class="form-group">
            <div class="input-group">
              <label for="fname">
                First Name
                <input
                  type="text"
                  id="fname"
                  placeholder="John"
                />
              </label>
              <label for="lname">
                Last Name
                <input
                  type="text"
                  id="lname"
                  placeholder="Doe"
                />
              </label>
            </div>
          </div>
        )
      }
      <div class="form-group">
        <label for="email"> Email Address </label>
        <input
          type="email"
          placeholder="yourname@example.com"
          id="email"
          required
        />
      </div>

      <div class="form-group">
        <label for="password"> Password </label>
        <input
          type="password"
          id="password"
          required
        />
      </div>

      <button type="submit">{btnName}</button>
      {
        !isLogin && (
          <span class="has-account">
            Have an account? <a href="/auth/login">Login</a>
          </span>
        )
      }
      {
        isLogin && (
          <span class="has-account">
            Don't have an account? <a href="/auth/sign-up">Sign up</a>
          </span>
        )
      }
    </form>
  </div>
</aside>
