---
const { header, btnName, isLogin } = Astro.props;
---

<aside class="user-details">
  <div class="details-container">
    <h1 class="tight-spacing">
      <a href="/">
        Recipe.<span class="trademark">&#8482;</span>
      </a>
    </h1>
    <h3>{header}</h3>
    <form>
      <div class="form-group">
        <label for="email"> Email Address </label>
        <input type="email" placeholder="yourname@example.com" id="email" />
      </div>

      <div class="form-group">
        <label for="password"> Password </label>
        <input type="password" id="password" />
      </div>

      <button type="submit">{btnName}</button>
      {
        !isLogin && (
          <span class="has-account">
            Have an account? <a href="/login">Login</a>
          </span>
        )
      }
      {
        isLogin && (
          <span class="has-account">
            Don't have an account? <a href="/sign-up">Sign up</a>
          </span>
        )
      }
    </form>
  </div>
</aside>
