---

---
<footer>
  <a href="/">
    <h3 class="tight-spacing">
      Recipe.<span class="trademark">&#8482;</span>
    </h3>
  </a>
  <nav class="social-links">
    <a href="#"><img src="/svgs/instagram.svg" alt="instagram-icon" /></a>
    <a href="#"><img src="/svgs/tiktok.svg" alt="tiktok-icon" /></a>
    <a href="#"><img src="/svgs/facebook.svg" alt="facebook-icon" /></a>
    <a href="#"><img src="/svgs/pinterest.svg" alt="pinterest-icon" /></a>
  </nav>
</footer>
